    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    nav {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      font-size: 22px;
      font-weight: bold;
    }

    .nav-links {
      display: flex;
      gap: 15px;
    }

    .nav-links a {
      text-decoration: none;
      font-size: 16px;
    }

    .menu-toggle {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

    .menu-toggle span {
      height: 3px;
      width: 25px;
      background: black;
      margin: 4px 0;
      border-radius: 2px;
    }

    .btn {
      background: rgb(68, 150, 68);
      color: #fff;
      border: none;
      padding: 10px 22px;
      border-radius: 20px;
      cursor: pointer
    }


    body {
      background: rgb(247, 212, 147);
    }

    .home {
      padding: 80px 20px;
      display: flex;
      justify-content: center;
    }

    .home-container {
      max-width: 1200px;
      width: 100%;
      text-align: center;
    }

    .home h1 {
      font-size: 42px;
      font-weight: 600;
      color: black;
      line-height: 1.3;
    }

    .home p {
      margin-top: 15px;
      font-size: 16px;
      color:rgb(192, 68, 68);
    }

    .btn {
      display: inline-block;
      margin-top: 25px;
      padding: 14px 28px;
      background: #A9BE66;
      color: white;
      text-decoration: none;
      border-radius: 30px;
      font-size: 15px;
      overflow: hidden;
    }

    .image {
      position: relative;
      margin-top: 70px;
      display: flex;
      justify-content: center;
    }

    .image img {
      width: 420px;
      border-radius: 20px;
    }

    .img-left {
      position: relative;
      left: -40px;
      z-index: 1;
    }

    .img-right {
      position: relative;
      top: -40px;
      left: -120px;
      z-index: 2;
    }

    .clients {
      padding: 80px 20px;
      text-align: center;
    }

    .clients h2 {
      font-size: 36px;
      margin-bottom: 15px;
      color: black;
    }

    .subtitle {
      max-width: 650px;
      margin: 0 auto 60px;
      color:rgb(188, 149, 149);
      line-height: 1.6;
    }

    .client-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      max-width: 1100px;
      margin: auto;
    }

    .client-card {
      border: 1px solid black;
      border-radius: 20px;
      padding: 40px 25px;
    }

    .client-card img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    .client-card h3 {
      font-size: 22px;
      margin-bottom: 15px;
    }

    .client-card p {
      font-size: 15px;
      line-height: 1.7;
      color: #555;
      margin-bottom: 25px;
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .icons i {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }

    .services {
      padding: 80px 20px;
      text-align: center;
    }

    .services h2 {
      font-size: 38px;
      margin-bottom: 15px;
      color: #111;
    }

    .services-para {
      max-width: 650px;
      margin: 0 auto 60px;
      color: #555;
      line-height: 1.6;
    }

    .services-grid {
      max-width: 1150px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    .service-image {
      border-radius: 25px;
      overflow: hidden;
      border: 1px solid black;
    }

    .service-image img {
      width: 100%;
      height: 280px;
      display: block;
    }
    .service-content {
      padding: 30px 25px;
      text-align: left;
    }

    .service-content p {
      font-size: 15px;
      line-height: 1.8;
    }
    .demo-section {
      padding: 90px 20px;
      text-align: center;
    }

    .demo-section h2 {
      font-size: 38px;
      color: black;
      margin-bottom: 15px;
    }

    .demo-para {
      max-width: 700px;
      margin: 0 auto 60px;
      color:rgb(194, 151, 151);
      line-height: 1.6;
    }

    .demo-asus {
      max-width: 1150px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 28px;
      overflow: hidden;
    }

    .demo-book img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .demo-content {
      border: 1px solid red;
      padding: 50px 45px;
      text-align: left;
    }

    .demo-content h3 {
      font-size: 26px;
      margin-bottom: 20px;
      color: black;
    }

    .demo-content p {
      font-size: 15px;
      line-height: 1.9;
      color:rgb(189, 130, 130);
      margin-bottom: 25px;
    }

    .john {
      font-weight: 600;
      color: black;
    }

    @media (max-width: 992px) {
      .demo-asus {
        grid-template-columns: 1fr;
      }

      .demo-video img {
        height: 300px;
      }

      .demo-content {
        padding: 35px 30px;
      }
    }

    @media (max-width: 600px) {
      .demo-section h2 {
        font-size: 28px;
      }
    }

    .contact-section {
      padding: 90px 20px;
    }

    .contact-container {
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 60px;
    }

    .contact-left h2 {
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 20px;
      color: black;
    }

    .contact-left p {
      color: #555;
      line-height: 1.8;
      margin-bottom: 35px;
      max-width: 480px;
    }
    form {
      max-width: 450px;
    }

    form input,
    form textarea {
      width: 100%;
      border: none;
      padding: 16px 20px;
      border-radius: 30px;
      background:white;
      margin-bottom: 18px;
      font-size: 14px;
    }

    form textarea {
      height: 130px;
      border-radius: 20px;
      resize: none;
    }

    form button {
      background:#A9BE66;
      color:white;
      border: none;
      padding: 14px 30px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 14px;
    }
    .contact-right {
      position: relative;
    }
    .contact-right img {
      width: 100%;
      height: 480px;
      border-radius: 35px;
    }
    @media (max-width: 992px) {
      .contact-container {
        grid-template-columns: 1fr;
      }
      .contact-right img {
        height: 360px;
      }
    }
    @media (max-width: 600px) {
      .contact-left h2 {
        font-size: 30px;
      }
    }
    @media (max-width: 992px) {
      .services-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 600px) {
      .services-grid {
        grid-template-columns: 1fr;
      }
      .services h2 {
        font-size: 28px;
      }
    }
    @media (max-width: 992px) {
      .client-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 600px) {
      .client-grid {
        grid-template-columns: 1fr;
      }
      .clients h2 {
        font-size: 28px;
      }
    }
    @media (max-width: 850px) {
      .menu-toggle {
        display: flex;
      }

      .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 10px 0;
      }

      .nav-links.active {
        display: flex;
      }

      .nav-links a {
        padding: 10px 0;
      }

      .home {
        text-align: center;
        justify-content: center;
      }

      .home h1 {
        font-size: 36px;

      }

      .home p {
        font-size: 18px;
      }

      .image {
        justify-content: center;
        font-size: 36px;
      }
    }